

@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

:root {
	--light-pastel-purple:#b19cd9;
	--blue-magenta:#9921e8;
	--accent-gradient:linear-gradient(315deg, #9921e8 0%, #5f72be 74%);
	--white:#fff;
	--fill-area-bg-color:#000;		/* #333838; */
	--main-area-bg-color:linear-gradient(to right, #ff5c5c, #ffa860, #e3dc44, #57b02a);
}

/* ---------- general ---------- */
* {
  	margin: 0;
  	padding: 0;
  	box-sizing: border-box;
}

body {
	color: var(--white);
	background: var(--fill-area-bg-color);
	/*font-family: 'Droid Serif', serif;*/
	/*font-family: 'Roboto', sans-serif;*/
	font-family: 'PT Serif', serif;
	font-size: 1em;
	margin: 0;
}

.page {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-flow: column;
	width: 100%;
}

main {
	width: 100%;
}

/* ---------- header-nav ---------- */
.navbar {
  	font-size: 1.125em;
  	background-color: var(--blue-magenta);
	background-image: var(--accent-gradient);
  	/*border: 1px solid rgba(0, 0, 0, 0.2);*/
  	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	border-bottom: 1px solid var(--light-pastel-purple);
	height: 70px;
  	padding-bottom: 10px;
	position: relative;
  	width: 100%;
}

.navbar-toggle {
  	position: absolute;
  	top: 13px;
  	right: 20px;
  	cursor: pointer;
  	color: rgba(255, 255, 255, 0.8);
  	font-size: 1.5em;
}

.contact {
  	color: rgba(255, 255, 255, 0.7);
  	cursor: pointer;
  	display: inline-block;
  	font-size: 1.125em;
	margin: 0.8em 0.8em 0.4em 0.8em;
	position: absolute;
  	top: -2%;
	text-decoration: underline;
	z-index: 9999;
}
.contact,
.nav-links {
	color: rgba(255, 255, 255, 0.7);
	cursor: pointer;
}

.main-nav {
	list-style-type: none;
	display: none;
	width: 100%;
}
.main-nav.active {
	top: 60px;
    background: rgba(0,0,0,0.9);
    z-index: 999999;
    height: 100vh;
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: column;
}

.main-nav li {
	text-align: right;
	background: rgba(255,255,255, 0.1);
    text-align: right;
    margin-bottom: 0.8em;
    padding: 0.25em 0;
    width: fit-content;
}
.main-nav li.active {
	border-bottom-width: 0.125em;
    border-bottom: 2px solid;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-image-source: linear-gradient(90deg, rgba(255,255,255, 0.5), rgba(255,255,255, 1));
    border-image-slice: 1;
    font-weight: 700;
}
.main-nav li:hover,
.main-nav li:active {
	background: transparent;
	border-image-source: var(--main-area-bg-color);
}
.nav-links {
	margin-right: 20px;
	margin-left: 20px;
	text-decoration: none;
}

/* ---------- main-content ---------- */
.fill-area  {
	/*position: absolute;*/
	/*top: 0;*/
	bottom: -72px;
	/*left: 0;*/
	z-index: 0;
	/*width: 100vw;*/
	background: var(--fill-area-bg-color);
	box-shadow: inset 3px 3px 5px -1px #111;
	pointer-events: none;

	position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100%;
    height: 100%;
}

main {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	background: var(--main-area-bg-color);
}

p.content {
	color: rgba(255, 255, 255, 0.7);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
	font-size: 1.1em;
	margin: 0 auto;
	height: 200px;
	width: 33%;
	z-index: 99999;
}
#output.accent {
	color: rgba(255, 255, 255, 0.9);
}

.slidecontainer {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-flow: column;
	margin: 10vh auto;
	width: 80%;
}

label {
	position: static;
	z-index: 1;
	font: 8rem "Monoton", sans-serif;
	/*color: #ec7474;*/
  	color: var(--blue-magenta);
	margin: -5rem 0 2rem;
}
label::after {
  content: "%";
}

/* slider itself */
.slider {
  	opacity: 0.7; 
  	position: static;
	z-index: 2;
	width: 50vw;
	height: 1rem;
	/*background: rgba(88, 36, 36, 0.8);*/
	background-color: var(--blue-magenta);
	background-image: var(--accent-gradient);
	-webkit-appearance: none; 
	appearance: none;
	border: none;
	outline: none;
	border-radius: 100vmax;
	box-shadow: inset 3px 3px 5px -1px #000;
}

.slider::-webkit-slider-thumb {
  	/*background-color: var(--blue-magenta);
  	background-image: var(--accent-gradient);*/

  	-webkit-appearance: none;
  	appearance: none;
  	width: 4vw;
  	height: 4vw;
  	background: #eee;
  	border-radius: 50%;
  	cursor: pointer;
  	box-shadow: 5px 5px 8px -1px #000;
  	transition: box-shadow .3s ease-in-out;
}

.slider::-moz-range-thumb {
  	/*background-color: var(--blue-magenta);
  	background-image: var(--accent-gradient);*/
  
  	appearance: none;
  	width: 4vw;
  	height: 4vw;
  	background: #eee;
  	border-radius: 50%;
  	cursor: pointer;
  	box-shadow: 5px 5px 8px -1px #000;
  	transition: box-shadow .3s ease-in-out;
}

/* ---------- @media ---------- */
@media screen and (max-width: 52em) {
	.navbar {
		height: 60px;
	}
	.nav-links {
		font-size: 4vw;
	}

	p.content {
		height: 100px;
		width: 80%;
	}

	label {
		font: 5rem "Monoton", sans-serif;
		margin: -2rem 0 1rem;
	}
	.slider {
		width: 85vw;
	}
}

@media screen and (max-width: 33.250em) {
	p.content {
		margin: -8em auto 0 auto;
	}
	.slidecontainer {
		margin: 3vh auto;
	}

	label {
		margin: 1rem 0 2rem;
	}

	.slider::-webkit-slider-thumb {
		width: 8vw;
		height: 8vw;
	}
}

@media screen and (min-width: 52em) {
	.navbar {
  		display: flex;
  		justify-content: space-between;
  		padding-bottom: 0;
  		align-items: center;
	}
	.navbar-toggle {
  		display: none;
	}

	.contact {
		font-size: 1.375em;
	}

	.main-nav {
		border: none;
  		display: flex;
  		margin-right: 30px;
  		flex-direction: row;
  		justify-content: flex-end;

	  	top: 5px;
	  	top: 37%;
	  	width: 100%;
	}
	.main-nav li {
  		margin: 0;
  		transition: all .6s ease;
	}
	.main-nav li:hover,
	.main-nav li:active {
		background: rgba(255,255,255, 0.1);
		border-image-source: none;
	}
	
	.contact:hover,
	.nav-links:hover {
  		color: rgba(255, 255, 255, 1);
	  	border-bottom: none;
	}
	.main-nav li:hover {
		box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	}

	.nav-links {
  		margin-left: 20px;
	}
}





