
/* ---------- GENERAL/ZINE SETUP ---------- */
body {
    color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.3;
    margin: 20px auto;
}

.magazine {
    background: #e5e5e5;
    display: grid;
    grid-template-rows: 130px 2fr 1fr;
    grid-template-columns: 1.5fr 1fr 1fr 1.5fr;
    height: 800px;
    outline: 6px solid #121219;
    width: 95vw;
}

/* ---------- TITLE ---------- */
.title {
    align-items: end;
    /*background: #f4d434;*/
    background: #111;
    border-right: 1px solid #f5f5f5;
    border-bottom: 1px solid #f5f5f5;
    color: #d3d3d3;
    display: grid;
    font-weight: bold;
    font-size: calc(10px + 2.6vw);
    grid-row: 1;
    grid-column: 1 / 3;
    justify-content: end;
    padding-bottom: 20px;
    padding-right: 40px;
    text-transform: uppercase;
    z-index: 3;
}

/* ---------- IMAGES ---------- */
.image {
    background-image: url(img/rocket.png), url(img/synthwave.jpg);
    background-position: relative, left center;
    background-repeat: no-repeat, no-repeat;
    background-size: 45%, cover;
    /*box-shadow: 5px 5px 36px 5px #000000;*/
    grid-row: 1 / 3;
    grid-column: 2 / 5;
    margin: 20px;
    z-index: 2;
}

.drawing {
    /*background-image: url(img/mebygv.jpg);*/
    background-image: url(img/mebygv2.png);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: 33%;
    /*border: 1px solid #222;*/

    margin: 0;
    padding: 0;

    /*background-size: 66%;*/
    /*margin-left: 30px;*/
    grid-row: 2 / 4;
    grid-column: 1 / 3;
}

/* ---------- CONTENT ---------- */
.content1 {
    box-shadow: 5px 5px 36px 5px #000000;
    display: block;
    grid-row: 2 / 4;
    grid-column: 1 / 2;
}


.content2 {
    align-items: end;
    box-shadow: 5px 5px 36px 5px #000000;
    display: grid;
    grid-row: 3 / 4;
    grid-column: 2 / 5;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
    width: 95%;
    text-align: right;
    z-index: 2;
}

.content1, .content2 {
    font-size: 18px;
    overflow: scroll;
    padding: 20px 20px;
    /*font-size: 14px;*/
}

/* ---------- QUOTE ---------- */
.quote {
    align-self: end;
    background: rgba(0,0,0,0.5);
    border-left: 10px solid #e5d54f;
    bottom: 8%;
    color: #e5d54f;
    font-size: calc(12px + 1.1vw);
    grid-row: 2;
    grid-column: 4;
    justify-content: start;
    padding: 10px;
    position: relative;
    right: 125px;
    text-transform: uppercase;
    z-index: 3;
}

/* ---------- CONNECTION TO COLLECTION ---------- */
.invite {
    background: #d3d3d3;
    border: 1px solid #222;
    /*border: 3px solid #f4d434;*/
    /*border: 1px solid #f5f5f5;*/
    color: #111;
    display: flex;
      align-items: flex-end;
      justify-content: flex-end;
    font-size: calc(12px + 1.6vw);
    font-style: italic;
    font-weight: bold;
    grid-column: 4;
    grid-row: 3;
    height: 66%;
    /*margin-left: 35px;*/
    /*padding-left: 15px;
    padding-top: 25px;*/
    padding-bottom: 20px;
    padding-right: 40px;
    text-align: right;
    text-transform: uppercase;
    width: 70%;
}

.emph {
    transform: scaleY(1.5);
    white-space: wrap;
}
