
@import url('https://fonts.googleapis.com/css?family=IM+Fell+DW+Pica+SC&display=swap');
@import url('https://fonts.googleapis.com/css?family=IM+Fell+DW+Pica+SC|Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Barriecito|IM+Fell+DW+Pica+SC|Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Barriecito&display=swap');
@import url('https://fonts.googleapis.com/css?family=Barriecito|Roboto+Mono&display=swap');

/* ---------- GENERAL STYLES ---------- */
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /*background-color: #f9f7f1;*/
    /*background: #e5e5e5;*/
    /*color: #2f2f2f;*/
    background: #b19cd9;
    color: #222;
    font-family: 'Droid Serif', serif;
    font-size: 16px; 
    margin: 30px 2% 0 2%;
}

p {
    margin-top: 0;
    margin-bottom: 20px;
}

/* ---------- HEADING ---------- */
.header {
    display: flex;
      justify-content: center;
      flex-flow: row wrap;
}

.header-container {
    display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: column wrap;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    font-size: 8em;
    line-height: 72px;
    margin-bottom: 20px;
    text-transform: uppercase;
    width: 100%;
}

.subheading {
    border-top: 10px solid #2f2f2f;
    display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: row wrap;
    /*padding: 12px 0 12px 0;*/
    text-transform: uppercase;
    width: 100%;
}

.tag {
    /*border: 5px solid #2f2f2f;*/
    border: 5px solid #2f2f2f;
    display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: column wrap;
    /*line-height: 20px;*/
    padding: 10px 15px 10px 15px;
    /*transform: scaleY(1.5);*/
    width: 33%;
}

.tag span {
    font-size: 1.1em;
    padding: 5px;
}

.emph {
    border-bottom: 2px solid #2f2f2f;
    border-top: 2px solid #2f2f2f;
    /*color: purple;*/
    /*font-size: 4em;*/
    font-style: italic;
    /*font-weight: bold;*/
    padding: 11px;
}

h2 {
    display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: row wrap;
    font-size: 4em;
    /*padding-left: 2%;*/
    transform: scaleY(1.8);
    width: 60%;
}

/* ---------- CONTENT ---------- */
.content {
    /*display: inline-block;
    font-size: 0;
    line-height: 0;
    margin: 30px 2% 0 2%;
    word-spacing: -.31em;*/

    display: grid;
    /*grid-gap: 10px;*/
    max-width: 1200px
    margin: 30px 2% 0 2%;
    /*word-spacing: -.31em;*/
}


/* ---------- COLUMNS, GENERAL ----------*/
.columns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 15px;
}

.column {
    font-size: 0.9em;
    line-height: 20px;
    /*width: 17.5%;*/
    display: block;
    padding: 0 1% 0 1%;
    vertical-align: top;
    margin-bottom: 50px;
    transition: all .7s;
}

.column + .column { 
    /*border-left: 1px solid #2f2f2f;*/
    padding-left: 15px;
}

.one {
    text-align: center;
}

.two {
    border: 1px solid #2f2f2f;
}

.three {
     background: 
        linear-gradient(
          rgba(0, 0, 0, 0.2),
          rgba(0, 0, 0, 0.2)
        );
}

.four {
    text-align: center;
}

.six {
    border-left: 1px solid #2f2f2f;
    border-top: 1px solid #2f2f2f;
}

/* ---------- COLUMNS, HEADLINES ---------- */
.column .headline {
    text-align: center;
    line-height: normal;
    font-family: 'Playfair Display', serif;
    display: block;
    margin: 0 auto;
}

.column .headline.hl1 {
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
    padding: 10px 0 10px 0;
}

.column .headline.hl2 {
    font-weight: 400;
    font-style: italic;
    font-size: 24px;
    box-sizing: border-box;
    padding: 10px 0 10px 0;
}

.column .headline.hl2:before {
    border-top: 1px solid #2f2f2f;
    content: '';
    width: 100px;
    height: 7px;
    display: block;
    margin: 0 auto;
}

.column .headline.hl2:after {
    border-bottom: 1px solid #2f2f2f;
    content: '';
    width: 100px;
    height: 13px;
    display: block;
    margin: 0 auto;
}

.column .headline.hl3 {
    font-weight: 400;
    font-style: italic;
    font-size: 36px;
    box-sizing: border-box;
    padding: 10px 0 10px 0;
}

.column .headline.hl4 {
    font-weight: 700;
    font-size: 12px;
    box-sizing: border-box;
    padding: 10px 0 10px 0;
}

.column .headline.hl4:before {
    border-top: 1px solid #2f2f2f;
    content: '';
    width: 100px;
    height: 7px;
    display: block;
    margin: 0 auto;
}

.column .headline.hl4:after {
    border-bottom: 1px solid #2f2f2f;
    content: '';
    width: 100px;
    height: 10px;
    display: block;
    margin: 0 auto;
}

/* ---------- COLUMNS, EXTRAS ----------*/
.links {
    font-style: italic;
}

.column .citation {
    font-family: 'Playfair Display', serif;
    font-size: 36px;
    line-height: 44px;
    /*font-style: italic;*/
    text-align: center;
    font-weight: 400;
    display: block;
    margin: 40px 0 40px 0;
    font-feature-settings: "liga", "dlig";
}

.column .citation:before {
    /*border-top: 1px solid #2f2f2f;*/
    content: '';
    width: 100px;
    height: 16px;
    display: block;
    margin: 0 auto;
}

.column .citation:after {
    /*border-bottom: 1px solid #2f2f2f;*/
    content: '';
    width: 100px;
    height: 16px;
    display: block;
    margin: 0 auto;
}

.column .figure {
    margin: 0 0 20px;
}

.column .figcaption {
  font-style: italic;
  font-size: 12px;
}

.media {
    -webkit-filter: sepia(80%) contrast(1) opacity(0.8);
    filter: sepia(80%) grayscale(1) contrast(1) opacity(0.8);
    mix-blend-mode: multiply;
    width: 100%;
}
